.help-details {
  &__sub-header {
    font-size: 2rem;
    font-family: monts-bold;
    color: #292b5d;
  }
  .btn-more-info {
    border: 1px solid var(--color-secondary);
    background-color: white;
    color: var(--color-secondary);
  }
}

.help-extra-details,
.help-actions,
.help-details,
.help-content {
  display: flex;
}

.help-details,
.help-content {
  justify-content: space-between;
}

.help-actions,
.help-content {
  flex-direction: column;
}

.help-content {
  flex: 1;
  margin: 0 40px;
}

.help-image {
  width: 150px;
  height: 150px;
}

.help-actions {
  justify-content: space-evenly;
}

.help-extra-details {
  justify-content: space-between;
}

.btn-border {
  border: 1px solid var(--color-secondary);
  background-color: white;
}

.help-divider {
  margin: 16px 0;
}
