:root {
    --color-primary: #e67574;
    --color-secondary: #292b5d;
      --main-gray: #c0bfd5;
}

$color-primary: #e67574;
$color-secondary: #292b5d;
$main-gray: #c0bfd5;
$color-grey-dark:#777;
$sides: (top, bottom, left, right); 