
body{
    font-family:monts-regular, sans-serif;
    font-size: 1.6rem;
    line-height: 1.7;
}

.nav-item{
  text-decoration: none;
  text-transform: capitalize;
  color:black;
  margin-right: 20px;
  background: none;
  border:none;
}
.t-sub-header{
  color: #2a2960;
  font-size: 5rem;
  font-family:monts-bold,sans-serif;
}
.strong-text{
  font-size: 2rem;
  font-family: monts-bold,sans-serif;
  padding-bottom:0.8rem;
  margin-bottom: 0.8rem;
  padding-left:0.8rem;
  border-bottom: 4px solid #d8dbe6;
}
.u-text-header-modal{
  color:#2a2960;
  font-size: 4rem;
  text-align: center;
  font-family: monts-bold;
}