
body{
    font-family:monts-regular, sans-serif;
    font-size: 1.6rem;
    line-height: 1.7;
}

.nav-item{
  text-decoration: none;
  text-transform: capitalize;
  color:black;
  margin-right: 20px;
  background: none;
  border:none;
}
.sub-header{
  color: #2a2960;
  font-size: 5rem;
  font-family:monts-bold,sans-serif;
}
