@font-face {
    font-family: monts-bold;
    src: url('../../assets/fonts/Montserrat-Bold.ttf');
  }
  @font-face {
    font-family: monts-light;
    src: url('../../assets/fonts/Montserrat-Light.ttf');
  }@font-face {
    font-family: monts-medium;
    src: url('../../assets/fonts/Montserrat-Medium.ttf');
  }@font-face {
    font-family: monts-regular;
    src: url('../../assets/fonts/Montserrat-Regular.ttf');
  }