figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
}

input[type="button"], input[type="submit"], button {
  cursor: pointer;
}

body {
  overflow-x: hidden;
}