

.homepage{
  width:100vw;
  margin: 0 -8rem;
}

.community {
  height: 92vh;
  min-height: 70rem;
  padding:80px 0 0 80px;
  background-color:#d9d6e5;
  &__container{
  .hands-img-container{
    position: absolute;
    right: 127px;
    top: 285px;
    z-index: 2;
    width: 760px;
    img{

      width:100%;
      object-fit: cover;
    }
  }
    display:flex;
    justify-content: space-between;
    padding-right: 8rem;
    max-width:1300px;
    margin:0 auto;
    h1 {
   
      font-size: 7rem;
      color: #2a2960;
      font-family:monts-bold,sans-serif;
      max-width: 560px;
    }

  }
  &__form-box {
    padding:5rem;
  z-index:3;
    margin:0 auto;
    background-color: white;
     margin-top: 240px;
    border-radius: 5px;
    .form-box__input-container{
margin-top: 1rem;
      display: flex;
      input {
        margin:1rem 0 ;
        padding: 1.6rem;
        border: solid #127697 2px;
        border-radius: 8px;
      }
      .location-input{
        margin-right:1.6rem;
      }
      .u-submit-btn{
        margin-top: 1rem;
      }

    }
 
  }
  


}
.barbra {
  padding:80px ;

  .barbara-img-wrapper{
    display: flex;
    width:100%;
    justify-content: flex-end;
    margin-top: 10rem;
    margin-right: 3rem;
  }
  .barbra-img {
    max-width:1000px;
    margin-right: 4rem;
  img{
    width:100%;
  }
  }
}
strong {
  color: #2a2960;
  font-size: 5rem;
  font-family:monts-bold,sans-serif;

}





.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.help {
width:100%;
  margin: 0 auto;
  background-color: #d9d6e5;
padding:8rem 0;
&__bottom-title{
  text-align: end;
  width: 93%;
}
&__title{
  margin: 0 auto;
  margin-bottom:8rem;
  width:90%;

}
 .help-options{
  width:90%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  &__item{
    
    margin-bottom:60px;
    width:90%;

    img{

      width:25rem;
      height: 28rem;
      object-fit: cover;
    }
    p{
      width:25rem;
      color:black;
     
    }
  }

 }


}
.offer-help{
  padding:8rem ;
  .img-container{
    margin:0 auto;
    margin-top: 8rem;
    width:500px;
    img{
      width:100%;
      object-fit: cover;
    }

  }
}




.points {

  margin-bottom:8rem;
  padding:8rem ;
  .badges-container{
    margin-top: 10rem;
    display:flex;
    justify-content: center;
    img{
      margin-right:6rem;
    }
  }

}

.helped {
  display: flex;
  flex-direction: column;
  padding:8rem  ;
  background-color: #d9d6e5;
 .helped-count {
    margin: 50px auto;
    * {
      vertical-align: middle;
      margin: auto 10px;
    }
  }
  .get-started-section{

    margin: 0 auto;
    .get-started-btn {
      background-color: #0fa5d6;
      color: white;
      font-size: 4rem;
      height:9rem;
      margin-right:3rem;
      border-radius: 4px;
      
    }
  }
}
