.community {
  background-image: url("https://res.cloudinary.com/explority/image/upload/v1585416648/Bitmap_bkfljn.png");
  width: 100vw;
  height: 92vh;
  padding:80px 0 0 80px;
  margin-bottom: 16rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
   
    font-size: 7rem;
    color: #2a2960;
    font-family:monts-bold,sans-serif;
  }

  &__form-box {
    position: absolute;
    top: 50%;
    left: 35%;
  }
}

strong {
  color: #2a2960;
  font-size: 5rem;
  font-family:monts-bold,sans-serif;

}

input {
  padding: 16px;
  border: solid #1a9dc7 2px;
  border-radius: 8px;
}



.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.help {
width:100%;
  margin: 0 auto;
  background-color: #d9d6e5;
padding:8rem 0;
&__bottom-title{
  text-align: end;
  width: 93%;
}
&__title{
  margin: 0 auto;
  margin-bottom:8rem;
  width:90%;

}
 .help-options{
  width:90%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  &__item{
    
    margin-bottom:60px;
    width:90%;

    img{

      width:25rem;
      height: 28rem;
      object-fit: cover;
    }
    p{
      width:25rem;
      color:black;
     
    }
  }

 }


}
.offer-help{
  padding:8rem 0;
  .img-container{
    margin:0 auto;
    margin-top: 8rem;
    width:500px;
    img{
      width:100%;
      object-fit: cover;
    }

  }
}
.barbra-img {
  float: right;
  img {
    position: absolute;
    right: 20%;
  }
}

.barbra {
  margin-bottom: 16rem;
  height: 75vh;
  position: relative;
  div {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 49vw;
    h2 {
      background-color: #d9d6e5;
      display: block;
      padding: 140px 0px 40px 40px;
      margin: 40px;
    }
  }
}

.points {
  display: flex;
  width:90%;
  margin:0 auto;
  padding:8rem 0 ;
  align-items: center;
  justify-content: space-evenly;
  div {
  
  }
}

.helped {
  display: flex;
  flex-direction: column;
  padding:8rem 0 ;

 .helped-count {
    margin: 50px auto;
    * {
      vertical-align: middle;
      margin: auto 10px;
    }
  }
  .get-started-section{

    margin: 0 auto;
    .get-started-btn {
      background-color: #0fa5d6;
      color: white;
      font-size: 4rem;
      height:9rem;
      margin-right:3rem;
      
    }
  }
}
